.cardContainer{
    min-height: auto;
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
    width: 100px;
    background-color: #f4f4f4;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    font-size: xx-small;
}

.pfp{
    width: 100px;
}

.headshot{
  width: 400px;
}

.allCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 40px;
  padding: 16px;
}

.heading {
  margin-left: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 10;
}

.mainContent {
  font-family: Arial, sans-serif;
  color: #333; /* Text color */
  background-color: #fff; /* Background color for the main content */
  padding: 20px;
}

p {
  font-size: 1rem;
  margin: 10px 0;
}

h2 {
  font-size: 1.5rem;
  color: #6a1b9a; /* Purple color for subheadings */
  font-weight: bold;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  font-size: 1rem;
}

ul li {
  margin: 5px 0;
}

.background{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e6e6e6;
  font-family: Arial, sans-serif;
}