.table {
  width: 50%;
  border-collapse: collapse;
}


.table th, .table td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 15px 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table th {
  background-color: #8238a1;
  color: white
}

.main-content{
  display: inline;
  width: 100%;
}

/* Style for the label text *//* Style for the label text */
/* Match the "Choose Patient:" text style */
.inputLabel {
  display: block;
  text-align: left;
  font-size: 20px;
  background-color: #8238a1;
  width: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 12px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border-radius: 8px;
  color: white;
}

.inputField {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #b38dd9;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.inputField:focus {
  border-color: #8238a1;
}
